body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 24px 0;
}

.container p {
  margin: 34px 0;
}

.container * {
  font-family: 'Montserrat', sans-serif;
}

.user-name-wrapper {
  width: 100%;
}

.user-name-wrapper p {
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #414CAF;
  font-size: 1.5em;
}

.message-wrapper p {
  text-align: center;
  font-weight: 500;
  line-height: 28px;
  color: #666;
}

.button-recover-wrapper {
  text-align: center;
  padding-top: 24px;
  margin-bottom: 14px;
  height: 66px;
}

.button-recover-wrapper a {
  min-width: fit-content;
  padding: 24px 34px;
  background: #E71960;
  border: none;
  border-radius: 34px;
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.footer-wrapper {
  text-align: center;
  color: #666;
  font-size: .8em;
}

.footer-wrapper label {
  font-weight: bold;
}

.logo-wrapper,
.ninja-wrapper {
  text-align: center;
}

.logo-wrapper {
  margin-bottom: 34px;
  min-height: 99.47px;
}

.logo-wrapper img {
  width: 124px;
}

.ninja-wrapper img {
  width: 64px;
}

.ninja-wrapper {
  min-height: 80.98px;
}

.ninja-wrapper .circle::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: -14px;
  border: 1px solid #6e2bbb;
  ;
}

.snake-wrapper {
  text-align: center;
}

.snake-wrapper .green {
  width: 94px;
  position: sticky;
  margin-left: -244px;
  fill: #BFFA28;
}

.snake-wrapper .red {
  width: 94px;
  position: absolute;
  margin-left: 134px;
  margin-top: 44px;
  fill: #E81756;
}
